@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #0f172a;
  --primary: #3c3cf6;
  --primary-hover: #2a2acc;
  --primary-light: #ececfc;
  --background-light: #f5f5f8;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
